@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500;600;700;800&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(60, 60, 80);
    color: #fff;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
}


h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    margin-top: 36px;
    filter: drop-shadow( 8px 8px 0px rgba(0, 0, 0, 0.669));
}



section{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b7bfff;
    border-radius: 10px; 
    padding: 10px;
    
   box-shadow: 2px 2px 10px rgb(0, 0, 0);
}
section p{
    font-size: 14px;
}
section a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c1ff84;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
}
section i{
    margin-right: 3px;
}

#david a,
#edu a{
    margin-left: -5px;
    margin-right: 15px;
}

#vh a,
#joao a{
    margin-left: 15px;
    margin-right: -5px;
}



#david{
    margin: 70px 15px 15px 15px;
}
#vh{
    margin: 15px;
}
#edu{
    margin: 15px;
}
#joao{
    margin: 15px;
}


img{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.468);
}

.david-edu{
    margin-right: 20px;
}

#david p{
    margin-left: 6px;
}

.vh-joao,
#vh p,
#joao p {
    margin-left: 20px;
}




footer{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* @media screen and (max-width: 600px){
    body{
       
    }
}
*/ 